{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            <br />
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block form_errors -%}
    {% if errors|length > 0 %}
        {% if not form.parent %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
            {% for error in errors %}
                <li><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ error.message }}</li>
            {% endfor %}
        </ul>
        {% if not form.parent %}</div>{% endif %}
    {% endif %}
{%- endblock form_errors %}