{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error-05072017.css') }}">
{% endblock %}

{% block body %}
    <div class="head-block"></div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <div class=" container main-block">
        <h2>La page n'a pas été trouvée</h2>
        <div class="col-md-offset-2 col-xs-12">
            <img src="{{ asset('images/erreur/erreur404-handissimo.png') }}" class="img-responsive" id="error404">
        </div>
        </div>
    </div>
{% endblock %}