{% block answer %}
    <a role="button" data-toggle="collapse" data-target="#{{ loop.index }}">Répondre</a>

    <div id="{{ loop.index }}" class="collapse">
        {{ comment.content }}
    </div>
{% endblock %}