{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="head-block"></div>
<div class="container main-block request-password">
    <div class="panel-body col-md-offset-3 col-md-5">
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    </div>
</div>

{% endblock fos_user_content %}
