<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Handissimo{% endblock %}</title>
        {% block stylesheets %}
            <!-- CSS FILES -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#giveOpinion">
                Donnez votre opinion !
            </button>

            <!-- Modal -->
            <div class="modal fade" id="giveOpinion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Votre avis sur notre site.</h4>
                        </div>
                        <div class="modal-body">
                            <p>Nous sommes heureux de vous compter parmi les utilisateurs de notre site. Quoi de mieux pour améliorer votre expérience que de vous demander ce que vous en pensez !</p>
                            <p>Vous pouvez ici nous faire part de vos remarques concernant <strong>la navigation</strong> et <strong>la maniabilité</strong> du site Handissimo.</p>

                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="control-label">Nom :</label>
                                    <input type="text" class="form-control" id="recipient-name">

                                    <label for="recipient-name" class="control-label">Prénom :</label>
                                    <input type="text" class="form-control" id="recipient-name">

                                    <label for="recipient-name" class="control-label">Adresse mail :</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="control-label">Message:</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}

        {% block javascripts %}
            <!-- JQUERY -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
            <!-- BOOTSTRAP JS -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
