{% extends '@SonataUser/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    <div class="">
        <div class="title-block">
            <h3 class="title-solution">Vous n'avez pas les droits pour éditer cette fiche</h3>
        </div>
        <div class="col-xs-12">
            <p class="text-solution">Le responsable de la solution a pris la main sur cette fiche. Vous ne pouvez plus l'éditer pour le moment</p>
        </div>
    </div>
{% endblock %}