{% extends '@SonataUser/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    <div class="title-block">
        <h3 class="title-search">Historique des modifications</h3>
    </div>
    <div class="">
        {% for results in pagination %}
            <div class="col-md-6">
                <a href="{{ path('handissimo_profile_version', {'id': results.id}) }}" class="link-about">{{ results.name }}</a>
            </div>
            <div class="col-md-6">
                {{ results.updateDatetime|localizeddate }}
            </div>
        {% endfor %}
    </div>
    <div class="col-xs-12">
        <div class="row navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}