{% extends '@SonataUser/Profile/action.html.twig' %}

{% block sonata_profile_content %}
    <div class="title-block">
        <h3 class="title-search">Liste des fiches</h3>
    </div>
    <div class="block-profile">
        <h4>Fiches auxquelles j'ai contribué</h4>
        {% for organization in organizations %}
            {% if organization != null %}
                <div class="col-xs-12">
                    <a href="{{ path('structure_page', {'id': organization.id}) }}" class="link-about">{{ organization.name }}</a>
                </div>
            {% endif %}
        {% endfor %}
        {% if deletedResult != null %}
            <h4>Fiches supprimées auxquelles j'ai contribué</h4>
            {% for organization in deletedResult %}
                <div class="col-xs-12">
                    {{ organization }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}