.head-block{
    width: 100%;
    height: 350px;
    background-color: #65bfba ;
    position: absolute;
    z-index: -1;
}
.main-block{
    background-color: #ffffff;
    margin:205px auto 50px auto ;
    box-shadow: 0 10px 30px 4px rgba(0,0,0,0.15);
    padding: 0 0 20px 0 ;
}
.img-block{
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-content{
    padding-right: 30px;
    padding-left: 30px;
}
p{
    text-align: justify;
}

