h1 {
    margin-top: 150px;
}

h1, h2, h3 {
    text-align: center;
    /*background-color: #02BFBA;*/
    padding: 5px;
}

.shadow-block {
    margin-top: 10px;
    padding-left: 10px;
}
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 20px;
}