#main-index {
    background: url(../images/handissimo-accueil-moteur-recherche.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size:cover;
    height: 100%;
}
@media (max-width: 360px) {
    #main-index {
    background-position: 74%;
    }
}

#main-index h1 {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top:140px;
}

#main-index h2 {
    font-size: 32px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    line-height: 42px;
}
@media (max-width: 360px) {
    #main-index h1 {
        font-size: 35px;
    }
    #main-index h2 {
        font-size: 20px;
    }
}

/*Search area*/
#search-container{
    margin-top: 50px;
}

.search-field {
    background-color: #FFFFFF;
    border: 2px solid #f7af49;
    border-radius: 3px;
}
@media (max-width: 992px) {
    .search-field {
        margin: 10px 0;
    }
}

.search-field p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    padding-top: 8px;
    color: #777777;
}
@media (max-width: 360px) {
    .search-field p {
        font-size: 20px;
    }
}

.search-field i {
    display: inline-block;
    color: #f7af49;
    float: right;
    margin-top: 5px;
}

#marker {
    font-size: 26px;
}

.homeField {
    padding: 0 0 0 10px;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    transition: border 0.3s;
    width: 100%;
    font-size: 1.1em;
    font-style: italic;
    color: #777777;
}

.homeField:focus,
.homeField.focus {
    border-bottom: solid 1px #777777;
}

#research_action_age,
#research_action_postal {
    margin-bottom: 10px;
}

#city {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0 0 0 -15px;
    z-index: 997;
    border-radius: 3px;
}

#city li {
    list-style: none;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #777777;
    font-style: italic;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #c9c9c9;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

#city li:hover{
    background-color: #F4F3F2;
    font-size: 16px;
    font-weight: 600;
}

#research_action_save {
    border: none;
    font-size: 18px;
    display: block;
    margin: 50px auto 90px auto;
}

#research_action_disability,
#research_action_structure {
    border: 2px solid #f7af49;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
    color: #777777;
    width: 100%;
}

#research_action_disability option,
#research_action_structure option {
    width: 335px;
    background-color: #FFFFFF;
    color: #777777;
    font-weight: 500;
    padding: 5px;
}

#research_action_need {
    border: none;
    background-color: #FFFFFF;

}
/***************************/
/***** Headband solution****/
/***************************/

#headband-solution {
    background-color: #FFFFFF;
    text-align: center;
}

.headband-title {
    color: #61bdb9;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

@media (max-width: 360px) {
    .headband-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
}


#block-call {
    margin: 20px auto 20px auto;
    text-align: center;
}
#btn-call {
    border: none;
    font-size: 12px;
    background-color: #f7af49;
}

#btn-call:hover,
#btn-call:focus {
    background-color: #FFBE49;
    color: #FFFFFF;
}

#solution-one:hover,
#solution-two:hover,
#solution-three:hover,
#solution-one:focus,
#solution-two:focus,
#solution-three:focus {
    text-decoration: none;
    color: #f7af49;
}

#solution-one,
#solution-two,
#solution-three {
    color: black;
}

/****************************/
/**** Headband stats ***/
/****************************/
#headband-stats {
    background-color: #61bdb9;
    height: 100px;
    text-align: center;
}

.stat-content {
    color: #FFFFFF;
    font-weight: 800;
}

.nb-stat {
    font-size: 3em;
    color: #FFFFFF;
}

@media (max-width: 360px) {
    .nb-stat {
        font-size: 1.2em;
    }
}

/****************************/
/****** Headband news *******/
/****************************/

.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position:relative;
    z-index:100;
}

#img-week {
    width: auto;
    height: 208px;
}

#block-img-week {
    text-align: center;
}

#title-news {
    margin-bottom: 50px;
}

.news-content {
    margin-bottom: 50px;
}

#img-carousel {
    height: 208px;
    width: auto;
}
.carousel-inner > .item > .block-img > img {
    margin: 0 auto;
}

#video {
    text-align: center;
}

/****************************/
/***** Headband social ******/
/****************************/

#headband-social {
    background-color: #61bdb9;
    height: 100px;
    text-align: center;

}

.content-social {
    line-height: 100px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 24px;
}

@media (max-width: 360px) {
    .content-social {
        line-height: 25px;
        font-size: 16px;
    }
}

.content-social:hover,
.content-social:focus {
    color: #f7af49;
}

#facebook-link,
#twitter-link {
    text-decoration: none;
}
