#main-index {
    background: url(../images/handissimo-accueil-moteur-recherche.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size:cover;
    height: 100%;
}
@media (max-width: 360px) {
    #main-index {
    background-position: 74%;
    }
}

#main-index h1 {
    font-weight: 700;
    font-size: 52px;
    color: #FFFFFF;
    text-align: center;
    margin-top:220px;
}

#main-index h2 {
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    line-height: 42px;
}
@media (max-width: 360px) {
    #main-index h1 {
        font-size: 45px;
    }
    #main-index h2 {
        font-size: 26px;
    }
}

/*Search area*/
#search-container{
    margin-top: 50px;
}

.search-field {
    background-color: #FFFFFF;
    border: 2px solid #f7af49;
    border-radius: 3px;
}
@media (max-width: 992px) {
    .search-field {
        margin: 10px 0;
    }
}

.search-field p {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    padding-top: 8px;
    color: #777777;
}
@media (max-width: 360px) {
    .search-field p {
        font-size: 20px;
    }
}

.search-field i {
    display: inline-block;
    color: #f7af49;
    float: right;
    margin-top: 5px;
}

#marker {
    font-size: 26px;
}

.homeField {
    padding: 0 0 0 10px;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    transition: border 0.3s;
    width: 100%;
    font-size: 14px;
    font-style: italic;
    color: #777777;
}

.homeField:focus,
.homeField.focus {
    border-bottom: solid 1px #777777;
}

#research_action_keyword,
#research_action_age,
#research_action_postal {
    margin-bottom: 10px;
}

#keywordautocomplete,
#city {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin: 0 0 0 -15px;
    z-index: 997;
    border-radius: 3px;
}

#keywordautocomplete li,
#city li {
    list-style: none;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #777777;
    font-style: italic;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #c9c9c9;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

#keywordautocomplete li:hover,
#city li:hover{
    background-color: #F4F3F2;
    font-size: 16px;
    font-weight: 600;
}

#research_action_save {
    border: none;
    display: block;
    margin: 50px auto 90px auto;
}