.main-block{
    background-color: #ffffff;
    margin:-95px auto 50px auto ;
    box-shadow: 0 10px 30px 4px rgba(0,0,0,0.15);
    padding: 20px 0 40px 0 ;
}
.login-block, .register-block{
    margin-top: 30px;
}
.head-block{
    width: 100%;
    height: 350px;
    background-color: #f7af49 ;
}
.submit-btn{
    border:2px solid black;
    border-radius: 50px;
    background-color: #ffffff;
    padding:10px 15px 10px 15px ;
}

.title-block{
    display: flex;
    align-items: center;
}

.login-title{
    text-align: center;
    border-bottom:3px solid #f7af49;
    margin:auto;
    padding-bottom:5px;
}
.register{
    border-bottom:3px solid #65bfba;
}
.field{
   width: 70%;
    margin: auto;
}
.register-block{
    border-left: 1px solid lightgrey;
}

.checkbox, .forget-link{
    text-align: center;

}
.checkbox{
    padding-top: 10px;
    padding-bottom: 20px;
    margin:-4px 0 0 ;
    color:#777777;
}
.forget-link{
    padding: 7px 10px 20px 10px;
}
.forget-link a{
    color:#65bfba;
}
.forget-link a:hover{
    text-decoration: none;
    color:#f7af49;
}

.block-btn1{
    padding-top:20px;
    margin:80px auto 10px auto;
}
.btn1:hover{
    border-color:#f7af49 ;
    color:#f7af49;
    box-shadow: 0 0 5px 1px #cfcfcf;
}
.block-btn-register{
    padding-top:20px;
    margin-top:50px;


}
.register-btn{
    color: #fff;
    background-color:#65bfba ;
}
.register-btn:hover{
    color:#fff;
    background-color:#71DBD7 ;
}

input::-webkit-input-placeholder {
    font-size: 20px;
}

input:-moz-placeholder { /* Firefox 18- */
    font-size: 20px;
}

input::-moz-placeholder {  /* Firefox 19+ */
    font-size: 20px;
}

input:-ms-input-placeholder {
    font-size: 20px;
}

@media screen and (max-width: 768px){

    input::-webkit-input-placeholder {
        font-size: 1.3em;
    }

    input:-moz-placeholder { /* Firefox 18- */
        font-size: 1.3em;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
        font-size: 1.3em;
    }

    input:-ms-input-placeholder {
        font-size: 1.3em;
    }
    .register-block{
        border-top: 1px solid lightgrey;
        border-left:none;
        margin-top:30px;
    }
    .register{
        padding-top:50px;
    }

}


#sonata_user_registration_form_email{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form2{
    margin-top:20px;
    margin-bottom:20px;
}
.form2:focus , #sonata_user_registration_form_email:focus{
    border-color: #65bfba;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(101, 191, 186, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(101, 191, 186, 0.6);
}
.form1:focus{
    border-color: #f7af49;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 175, 73, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 175, 73, 0.6);
}
.create-title {
    color: #65bfba;
    text-align: center;
    margin:40px 0 -20px 0;
}
.form-horizontal{
    padding-top:30px;
}
.social-block{
    margin-top:40px;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:30px;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
    width: 75%;

}
.social-title{
    font-size: 16px;
    text-align: center;
    margin:20px auto 30px auto;
}
.block-social-btn{
    display: flex;
    align-items: center;
    justify-content:center;
}
 .google, .facebook{
    background-color: #65bfba ;
    padding: 15px 20px 15px 20px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
}
.google{
    padding: 15px 17px 15px 17px;
}
.facebook-icon,.fa-google{
    font-size: 20px;
    color:white;
    text-align: center;
}
.facebook:hover, .google:hover, .google-btn:hover{

    background-color: #71DBD7;
    border-radius: 25px;
}
.or{
    margin:30px;
}
