/****************/
/*OPINION BUTTON*/
/****************/
.modal-backdrop.in {
    z-index: 1;
}

.modal-button {
    background-color: #61bdb9;
}

.modal-button:hover {
    background-color: #71DBD7;
    color: #FFFFFF;
}

.modal-button:focus {
    color: #FFFFFF;
}

.modal-button i {
    margin-right: 5px;
    font-size: 20px;
}