body {
    background-color: #FFFFFF;
}

/*Result page of a research*/
#search-reminder {
    background-color: #60bfb9;
}

#search-done {
    margin-top: 130px;
}

.search-label {
    font-weight: 600;
    font-size: 1.1em;
    color: #FFFFFF;
    margin-bottom: 4px;
}

#research_advanced_keyword,
#research_advanced_age,
#research_advanced_postal {
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: 600;
    width: 100%;
    font-size: 1.1em;
}

#filter {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.1em;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: underline;
}

#research_advanced_structurestypes,
#research_advanced_disabilitytypes,
#research_advanced_needs {
    border: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
    color: #777777;
    width: 100%;
}

#research_advanced_structurestypes option,
#research_advanced_disabilitytypes option,
#research_advanced_needs option {
    width: 335px;
    background-color: #FFFFFF;
    color: #777777;
    font-weight: 400;
    padding: 10px;
}

.black-btn {
    background-color: #3a3a3a;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 25px;
}

.black-btn:hover,
.black-btn:focus {
    background-color: #4f4f4f;
    color: #FFFFFF;
}
/*Map and results*/

#map{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
@media (max-width: 992px) {
    #map {
    padding-bottom:60%;
    }
}
#count-results {
    margin: 15px 0 15px 15px;
}

#result-container {
    margin-bottom: 15px;
}

#result-container a,
#result-container a:hover,
#result-container a:focus {
    text-decoration: none;
}

#crop-height {
    max-height: 250px;
    overflow: hidden;
}

#img-search {
    display: block;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

#img-search:hover {
    opacity: 0.5;
    transition-timing-function: ease;
    transition: 0.3s;
}

.searchtitre {
    color: #61bdb9;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 800;
    margin-top:0;
    margin-bottom: 5px;
}

.searchtitre:hover,
.searchtitre:focus {
    text-decoration: none;
    color: #f7af49;
}

@media (max-width: 767px) {
    .searchtitre {
        margin-top: 10px;
    }
}

#address-container,
#social-container {
    padding-left: 0;
    font-size: 1.1em;
}

#address-container p,
#social-container p a {
    font-size: 1.1em;
    margin: 0;
}

.contact-phone {
    font-weight: 600;
    font-size: 1.1em;
    margin: 0;
}

#social-container p a {
    text-decoration: none;
    color: #61bdb9;
}

.website-address {
    margin-top: 5px;
}

.social-media {
    text-decoration: none;
    color: #61bdb9;
    font-size: 1.5em;
}

#social-container p a:hover ,
.social-media:hover,
.social-media:focus {
    color: #f7af49;
}

.pagination > li > a,
.pagination > li > span {
    border: none;
    color: #FFFFFF;
    background-color:#61bdb9;
    font-weight: 600;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:active {
    background-color: #61bdb9;
    color: #FFFFFF;
    font-weight: 600;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > span:active {
    color: #FFFFFF;
    background-color: #71DBD7;
}

.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:active {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #777777;
}