/*Result page of a research*/
#research {
    background-color: #60bfb9;
}

#search-done {
    margin-top: 150px;
}

#research_advanced_keyword,
#research_advanced_age,
#research_advanced_postal {
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: ;
}

#map {
    height: 100vh;
    overflow: hidden;
    padding-top: 30px;
}

#img-search {
    height: 110px;
    width: 200px;
    background-color: #0f0f0f;
}

.searchtitre {
    color: #60bfb9;
}

#btn-filter:hover,
#btn-filter:focus {
    color: #FFFFFF;
}

#selectn select,
#selectd select,
#selectst select {
    width:250px;
}

.pagination {
    padding-bottom: 150px;
}