body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    border-radius: 90px;
    letter-spacing: 1px;
    padding: 10px 14px;
}

.btn a {
    text-decoration: none;
    color: #ffffff;
}

/****************/
/*****ALERTS*****/
/****************/
#alert-success,
#alert-danger {
    display: none;
}

/****************/
/*****NAVBAR*****/
/****************/

.navbar {
    height: 100px;
    z-index: 997;
    border: none;
    background-color: #FFFFFF;
}

.logo-handissimo {
    width:250px;
}

.navbar-right button {
    margin-right: 25px;
    margin-top: 25px;
}

.orange-btn {
    background-color: #f7af49;
}

.orange-btn:hover {
    background-color: #FFBE49;
}

.pink-btn {
    background-color: #C37095;
}

.pink-btn:hover {
    background-color: #DC7095;
}

.orange-btn a i,
.pink-btn a i {
    margin-right: 5px;
    font-size: 18px;
}

/****************/
/*****FOOTER*****/
/****************/
