{% extends 'FOSUserBundle::layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block fos_user_content %}
    <div class="head-block"></div>
    <div class=" container main-block check-email">
        <div class="row"><h3 class="confirm">Confirmation</h3></div>
    <p class="test">{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}