{% extends 'SonataUserBundle::layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile-19062017.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style-19062017.css') }}">
{% endblock %}

{% block fos_user_content %}
    <div class="head-block"></div>
    <div class="container main-block check-password">
        <div class="row"><h3 class="confirm">Attention</h3></div>
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
{% endblock fos_user_content %}