<a role="button" data-toggle="modal" data-backdrop="false" data-target="#myModal-homepage" class="link-about">Charte d'utilisation</a>

<!-- Modal -->
<div class="modal fade" id="myModal-homepage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Charte d’utilisation du site Handissimo</h4>
            </div>
            <div class="modal-body" id="modal-charte-homepage">
                <h3>ENTRE</h3>
                <p>La Fondation OVE, Fondation reconnue d’utilité publique inscrite au répertoire SIRENE sous le numéro 801 252 719 ayant son siège social au
                    19, rue Marius Grosso - 69120 Vaulx-en-Velin, représentée par son représentant domicilié en cette qualité audit siège.<br/><br/>
                    Ci-après « Fondation OVE »,</p>
                <h3>ET L'UTILISATEUR</h3>
                <p>Les présentes Conditions Générales d'Utilisation constituent le contrat fixant
                    les conditions d’accès et d’utilisation du site Internet HANDISSIMO et de mise à disposition des Services.</p>
                <h3>I- DEFINITIONS</h3>
                <p>"HANDISSIMO" : site internet HANDISSIMO, accessible à l’adresse <a class="link-about" href="https://www.handissimo.fr" target="_blank">www.handissimo.fr</a></p>
                <p>« Utilisateur » : toute personne qui accède ou utilise le Site HANDISSIMO.</p>
                <p>« Utilisateur Inscrit » : Utilisateur s’étant inscrit sur le site HANDISSIMO.</p>
                <p>« Contributeur » : Utilisateur Inscrit contribuant à la création ou à la modification d’une fiche solution, ou publiant un commentaire sur l’espace de contributions personnelles.</p>
                <p>« Responsable de la structure » : représentant légal ou statutaire de l’organisme gestionnaire de la structure objet de la fiche ou toute personne dûment habilitée par lui.</p>
                <p>« Services » : Services mis à disposition sur HANDISSIMO, à savoir à ce jour :</p>
                <ul>
                    <li>mise à disposition d’un outil permettant la création ou la modification de fiches,</li>
                    <li>mise à disposition d’un espace de contributions personnelles.</li>
                </ul>
                <h3>II- PRESENTATION D’HANDISSIMO</h3>
                <p>Le site HANDISSIMO est le premier guide communautaire en ligne des solutions d’aide pour tous les handicaps. Il a vocation à recenser toutes les solutions d’aide dans le champ du handicap et à offrir une information simple, compréhensible et mise à jour régulièrement. Il permet donc de faire des recherches de solutions grâce à un moteur de recherche. Le site permet également de favoriser l’entre-aide. En effet, chaque Utilisateur ayant un compte peut poster des commentaires et échanger avec d’autres Utilisateurs Inscrits.</p>
                <p>Les informations contenues sur HANDISSIMO sont des informations permettant une solution d’aide adaptée à toutes les situations de handicap en France, à savoir les structures d’accueil, les services d’accompagnement éducatif, pédagogique, thérapeutique, de loisirs adaptés, de soins, du répit, d’appui aux aidants....</p>
                <p>La Fondation OVE ne prétend en aucun cas à la complétude ou à l’exhaustivité concernant les informations contenues sur le site HANDISSIMO. L’Utilisateur est informé et accepte que des informations puissent ne pas y figurer et que certaines situations ne soient pas évoquées. </p>
                <p>Les informations diffusées par HANDISSIMO (qui se distinguent des commentaires publiés par les Utilisateurs Inscrits) sont strictement générales et indicatives et ne peuvent être parfaitement exemptes d’erreur, La Fondation OVE mettant tous les moyens en œuvre afin de pouvoir les actualiser régulièrement et rectifier dans des délais convenables toute erreur ou inexactitude dont elle aura eu connaissance ou qui lui aura été signalée. </p>
                <div id="border-text-charte">
                    <h3>IMPORTANT</h3>
                    <p>HANDISSIMO n’a pas pour but ni pour objet d’assurer la promotion ou la publicité de l’un quelconque des services, établissements ou structures qui y seraient référencés.</p>
                    <p>Les informations contenues sur ce site ne sont communiquées qu’à titre purement informatif et ne sauraient être considérées comme une consultation juridique, un démarchage ou une offre de services.</p>
                    <p>Ces informations sont exclusives de tout avis ou consultation médicale, conseil personnalisé, diagnostic, aide au diagnostic, traitement ou aide au traitement. Elles ne sauraient en aucun cas se substituer à un conseil, un diagnostic ou une recommandation fournis par un professionnel de santé compétent. HANDISSIMO n’opère aucun acte de télémédecine ou service médical. Il ne constitue pas un dispositif médical. Les Utilisateurs ne doivent en aucun cas utiliser les informations diffusées via HANDISSIMO pour établir un diagnostic ou déterminer un traitement, et doivent consulter les professionnels de santé en charge de leur suivi et de leur prise en charge avant toute décision médicale.</p>
                    <p>Ces informations ne sauraient en aucun se substituer à un programme scolaire ou éducatif.</p>
                </div>
                <h3>III- ACCES AU SITE HANDISSIMO ET ACCES AUX SERVICES</h3>
                <h4>III.1- ACCES AU SITE HANDISSIMO</h4>
                <p>L’accès et l’utilisation de <a class="link-about" href="https://www.handissimo.fr" target="_blank">www.handissimo.fr</a> sont soumis aux présentes Conditions Générales d’Utilisation et à l’ensemble des dispositions légales et réglementaires en vigueur.</p>
                <p>Toute connexion au site HANDISSIMO est subordonnée au respect des présentes Conditions Générales d’Utilisation. Pour l’Utilisateur, le simple accès au site HANDISSIMO à l’adresse URL suivante <a class="link-about" href="https://www.handissimo.fr" target="_blank">www.handissimo.fr</a> implique l’acceptation de l’ensemble des Conditions Générales d’Utilisation.</p>
                <p>HANDISSIMO est destiné aux seuls Utilisateurs situés sur le territoire français. Son contenu peut ne pas être approprié en dehors du territoire français, notamment au regard de la spécificité des règlementations étrangères applicables. La Fondation OVE n'assume aucune responsabilité en ce qui concerne l'accès à des informations qui pourraient ne pas être compatibles avec une législation, réglementation, ou l'usage en vigueur hors de France.</p>
                <p>Pour pouvoir utiliser HANDISSIMO, l’Utilisateur doit posséder un accès Internet, dont les éventuels coûts sont à sa charge.</p>
                <p>La Fondation OVE fait ses meilleurs efforts pour permettre l’accès au site HANDISSIMO 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de Fondation OVE, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des Services. Par conséquent, La Fondation OVE ne peut garantir une disponibilité du site et/ou des Services, une fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’Utilisateur que ce soit par des moyens électronique ou téléphonique.</p>
                <p>La responsabilité de La Fondation OVE ne saurait être engagée en cas d’impossibilité d’accès à HANDISSIMO et/ou d’utilisation des Services.</p>
                <p>Par ailleurs, La Fondation OVE peut être amenée à interrompre HANDISSIMO ou une partie des Services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que La Fondation OVE ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’Utilisateur ou tout tiers.</p>
                <h4>III.2- ACCES AUX SERVICES</h4>
                <p>Les Services d’HANDISSIMO ne sont accessibles que sous réserve d’inscription.</p>
                <p>L'inscription permet :</p>
                <ul>
                    <li>de contribuer au site en créant et en remplissant des fiches,</li>
                    <li>de contribuer au site en postant des commentaires et en échangeant avec d’autres Utilisateurs Inscrits,</li>
                    <li>aux autres participants de reconnaître les diverses contributions de l’Utilisateur Inscrit,</li>
                    <li>de retrouver facilement les fiches auxquelles l’Utilisateur Inscrit a participé.</li>
                </ul>
                <p>L'inscription à Handissimo est libre et gratuite.</p>
                <p>LA FONDATION OVE se réserve le droit d’ajouter, de supprimer ou de modifier tout ou parties des espaces des Services ou des Services qu’elle propose, ou de conditionner l’accès à certains Services à un abonnement payant fonction du type d’utilisateurs des Services en cause.</p>
                <p>L’Utilisateur peut s’inscrire par le biais du site HANDISSIMO en indiquant :</p>
                <ul>
                    <li>son nom ou en choisissant un pseudonyme (s’il préfère être identifié ainsi vis-à-vis des autres participants),</li>
                    <li>un mot de passe,</li>
                    <li>une adresse électronique.</li>
                </ul>
                <p>Lorsqu’il s’inscrit, l’Utilisateur s’engage à :</p>
                <ul>
                    <li>ne pas fournir de fausses informations sur son identité et à ne pas usurper l’identité d’un tiers,  </li>
                    <li>choisir son pseudonyme dans le respect de la législation française et plus particulièrement de la législation relative au respect de l’ordre public et des bonnes mœurs. Il s’engage à choisir un pseudonyme qui soit disponible et licite, et s’interdit de choisir un identifiant pouvant porter atteinte aux droits de tiers. Le pseudonyme choisi ne doit en outre par être vulgaire ou insultant, avoir une connotation sexuelle ou pornographique, faire référence à un produit stupéfiant ou toute autre substance interdite par la législation française, à des boissons alcoolisées, au tabac ou à des produits du tabac,</li>
                    <li>réserver son compte à son propre usage,</li>
                    <li>ne pas utiliser son compte à des fins commerciales, publicitaires ou promotionnelles, ou pour tenter de capter une clientèle ou une patientèle,</li>
                    <li>ne pas communiquer son mot de passe ainsi qu’à ne laisser personne accéder à son compte ou ne faire quoi que ce soit qui puisse compromettre la sécurité de son compte. Le mot de passe est personnel et confidentiel. L’Utilisateur Inscrit en est seul responsable. L’Utilisateur Inscrit est seul responsable de l’utilisation de son compte. Toute transmission ou publication d’information effectuées au moyen de son mot de passe sera réputée avoir été effectuée par lui-même et sous sa responsabilité exclusive. En cas d’utilisation frauduleuse de son compte et/ou de son mot de passe, il s’engage à en informer immédiatement La Fondation OVE.</li>
                </ul>
                <p>La Fondation OVE se réserve le droit de refuser tout pseudonyme ne respectant pas les présentes Conditions Générales d’Utilisation.</p>
                <p>La Fondation OVE se réserve le droit de supprimer ou de bloquer le compte à tout moment en cas notamment de réclamation émise par un tiers.</p>
                <p>L’inscription suppose l’acceptation pleine et entière des présentes Conditions Générales d’Utilisation, matérialisée par le fait de cocher la case « j’ai lu et j’accepte les Conditions Générales d’Utilisation et je m’engage à les respecter ». L’Utilisateur, qui a eu préalablement à l’inscription accès aux Conditions Générales d’Utilisation, est invité à ne pas s’inscrire s'il n'accepte pas tout ou partie des Conditions Générales d’Utilisation. </p>
                <p>La Fondation OVE se réserve le droit de modifier, supprimer ou ajouter des clauses aux présentes Conditions Générales d’Utilisation et ce à tout moment en informant préalablement l’Utilisateur Inscrit. L’Utilisateur Inscrit sera invité à prendre connaissance des nouvelles Conditions Générales d’Utilisation et à les accepter. En cas de désaccord sur les modifications notifiées, l’Utilisateur Inscrit sera libre de résilier son inscription. A défaut, l’Utilisateur Inscrit sera considéré comme les ayant acceptées.</p>
                <p>L’Utilisateur Inscrit est informé et accepte que son nom ou son pseudonyme (tel que rempli lors de l’inscription) apparaisse pour toute contribution ou commentaire diffusés sur HANDISSIMO.</p>
                <h3>IV- RESILIATION DE L’INSCRIPTION</h3>
                <p>Chaque Utilisateur Inscrit peut à tout moment demander à résilier son inscription depuis le lien situé dans les paramètres du compte ou par mail à l’adresse : <a class="link-about" href="&#109;&#97;&#73;&#76;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#82;&#101;&#115;&#105;&#108;&#105;&#97;&#116;&#105;&#111;&#110;&#37;&#50;&#48;&#100;&#101;&#37;&#50;&#48;&#109;&#111;&#110;&#37;&#50;&#48;&#99;&#111;&#109;&#112;&#116;&#101;&#37;&#50;&#48;&#115;&#117;&#114;&#37;&#50;&#48;&#108;&#101;&#37;&#50;&#48;&#115;&#105;&#116;&#101;&#37;&#50;&#48;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;">contact@handissimo.fr</a>. La désinscription sera prise en compte au plus vite.</p>
                <p>LA FONDATION OVE peut résilier l’inscription d’un Utilisateur Inscrit en cas de manquement à l’une quelconque des obligations décrites aux présentes Conditions Générales d’Utilisation ou à la législation en vigueur, sans préavis ni mise en demeure ni indemnité de quelque nature que ce soit.</p>
                <p>La cessation de l’inscription prend effet soit au jour de la demande de désinscription de l’Utilisateur Inscrit, soit au jour de la résiliation de son inscription par La Fondation OVE.</p>
                <h3>V- OBLIGATIONS DES UTILISATEURS INSCRITS</h3>
                <p>Tout Utilisateur Inscrit s’engage à ne pas gêner ou entraver l’utilisation d’HANDISSIMO par les autres Utilisateurs.</p>
                <p>Il ne peut pas utiliser les Services pour mener une activité illégale ou qui viole les droits des tiers, fournir des instructions, informations ou orientations sur des activités illégales.</p>
                <p>Il ne peut pas utiliser les Services à des fins commerciales, promotionnelles, publicitaires ou pour tenter de capter une clientèle ou une patientèle.</p>
                <p>Il s’engage à respecter les règles déontologiques auxquels il est soumis.</p>
                <p>Il s’engage à diffuser des contenus et informations exemptes de virus, chevaux de Troie, ou tout autre outil/moyen logique destinés à endommager, nuire, intercepter ou entraver tout système de HANDISSIMO et /ou des données ou informations diffusées.</p>
                <p>Il s’engage à ne pas faire état d’informations confidentielles ou relevant du secret professionnel auquel il est lié ou pour lesquelles il est lié par une clause de confidentialité.</p>
                <p>Il ne peut pas utiliser les coordonnées visibles des autres Utilisateurs Inscrits, ou collecter des informations sur ces derniers, notamment pour faciliter l'envoi de communications de masse non sollicitées tels que spam ou permettre à des tiers l'utilisation desdites informations sur les Utilisateurs Inscrits.</p>
                <h3>VI- MISE A DISPOSITION D’UN ESPACE « SOLUTIONS »</h3>
                <p>Sur HANDISSIMO, une solution :</p>
                <ul>
                    <li>Propose des services d’accompagnement éducatif, pédagogique, thérapeutique…</li>
                    <li>Est un établissement, un lieu d’accueil, de scolarisation, de soin, une association …</li>
                    <li>Propose du répit ou du soutien aux aidants, de l’information ou des conseils…</li>
                    <li>Propose des loisirs adaptés, des activités culturelles et sportives…</li>
                </ul>
                <p>Un moteur de recherche permet à l’Utilisateur de rechercher une solution.</p>
                <p>HANDISSIMO est un outil collaboratif, qui permet à tout Utilisateur Inscrit connaissant une solution et souhaitant la partager avec la communauté de créer une fiche correspondante ou de modifier une fiche existante dans les conditions suivantes.</p>
                <h4>VI.1- CREATION - MODIFICATION DE FICHES RELATIVES A DES SOLUTIONS</h4>
                <p>Avant de créer une fiche, le Contributeur doit vérifier que ladite fiche n’existe pas déjà.</p>
                <p>Un Contributeur peut modifier une fiche déjà créée. Néanmoins, lorsque le Responsable de la structure objet de la fiche a pris la main sur la fiche, il sera seul habilité à la modifier. En remplissant le formulaire et en cochant la case «j’atteste sur l’honneur être responsable de cette solution au sens des conditions générales d’utilisation HANDISSIMO, à savoir le représentant légal ou statutaire ou une personne dûment habilitée par lui et je demande à prendre la main sur ma fiche», le Contributeur déclare et garantit être le Responsable de la structure objet de la fiche.</p>
                <h4>VI.2- MISE EN LIGNE DES FICHES OU DES MODIFICATIONS</h4>
                <p>La mise en ligne d’une fiche ou des modifications d’une fiche est validée par La Fondation OVE qui effectue un contrôle a priori concernant les informations transmises. </p>
                <p>LA FONDATION OVE se réserve le droit de ne pas valider une fiche ou des modifications si les informations semblent erronées ou le contenu non approprié, ce que le Contributeur accepte sans réserve.</p>
                <p>Dans une phase transitoire d’expérimentation en région lyonnaise en 2017, ce contrôle s’effectuera a posteriori.</p>
                <h4>VI.3- OBLIGATIONS DU CONTRIBUTEUR EN CAS DE CREATION OU MODIFICATION DE FICHES</h4>
                <p>Le Contributeur est entièrement et seul responsable du contenu qu’il transmet à l’occasion de la création ou de la modification des fiches, et garantit La Fondation OVE à ce titre.</p>
                <p>A ce titre, le Contributeur est tenu de respecter les droits des tiers, notamment leurs droits de propriété intellectuelle et le droit au respect de leur vie privée. Notamment, il s’engage à ne pas transmettre d’œuvres ou de signes protégés ou de représentation de personnes sans disposer des autorisations correspondantes. </p>
                <h3>VII- MISE A DISPOSITION D’UN ESPACE « CONTRIBUTIONS PERSONNELLES - COMMENTAIRES »</h3>
                <p>La Fondation OVE met à disposition un espace de contributions personnelles, au sein duquel les Utilisateurs Inscrits peuvent publier des commentaires sous leur seule et entière responsabilité. Les commentaires exprimés sont propres à leurs auteurs et ne peuvent pas engager la responsabilité de La Fondation OVE.</p>
                <p>La Fondation OVE n’exerce aucun contrôle a priori sur les contributions qui seront ainsi publiées par les Utilisateurs Inscrits sous leur seule et entière responsabilité. La Fondation OVE met en place une modération a posteriori des commentaires librement et directement diffusées par les Contributeurs sans contrôle éditorial ni fixation sur support matériel préalable. La Fondation OVE n’est pas tenue d’une obligation générale de surveillance des commentaires ainsi portés sur l’espace « Contributions personnelles ».</p>
                <p>Le Contributeur s’engage à respecter la courtoisie nécessaire au bon déroulement des échanges d'opinion. HANDISSIMO se veut un lieu bienveillant et positif. Il est interdit d’utiliser cet espace à des fins malveillantes ou de harceler d’autres Utilisateurs Inscrits.</p>
                <p>Le Contributeur s’engage à respecter les lois et règlements en vigueur, et notamment à ne pas publier de commentaires :</p>
                <ul>
                    <li>contraires à l’ordre public ou aux bonnes mœurs, </li>
                    <li>constituant une violation des droits de la personnalité ou des droits de propriété intellectuelle de tiers,</li>
                    <li>constituant des propos violents, racistes, antisémites, homophobes, révisionnistes, d’apologie ou d’incitation à la réalisation de crimes ou de délits, d’incitation au suicide, de provocation à la discrimination, à la haine ou à la violence en raison de la race, de l’ethnie, de la religion, du sexe, du handicap, de l’identité sexuelle, de l’âge,</li>
                    <li>constituant une incitation à l’usage de drogues ou de substances interdites, une publicité interdite pour des boissons alcoolisées ou des produits du tabac,</li>
                    <li>constituant des propos injurieux ou grossiers ou des actes de dénigrement ou des propos diffamatoires,</li>
                    <li>ayant un caractère pornographique, sexuel, pédophile ou portant atteinte d’une quelconque manière aux mineurs et à la protection des enfants et adolescents,</li>
                </ul>
                <p>Dans le cadre d’une modération a posteriori ou suite à une notification de contenu illicite ou d’une réclamation d’un tiers, La Fondation OVE dispose de la faculté discrétionnaire de supprimer immédiatement tout commentaire et/ou tout compte.</p>
                <p>Le Contributeur ayant publié un commentaire peut le modifier à tout moment, ou effectuer une demande de suppression à l’adresse <a class="link-about" href="&#109;&#97;&#73;&#76;&#116;&#79;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#68;&#101;&#109;&#97;&#110;&#100;&#101;&#37;&#50;&#48;&#100;&#101;&#37;&#50;&#48;&#115;&#117;&#112;&#112;&#114;&#101;&#115;&#115;&#105;&#111;&#110;&#37;&#50;&#48;&#100;&#37;&#50;&#55;&#117;&#110;&#37;&#50;&#48;&#99;&#111;&#109;&#109;&#101;&#110;&#116;&#97;&#105;&#114;&#101;">contact@handissimo.fr</a>, en prenant soin d’indiquer les éléments suivants : titre et date de publication du message, pseudo utilisé et URL.</p>
                <p>Lorsque le Contributeur sollicite la suppression de son compte, les messages associés à ce compte resteront cependant visibles, pour la clarté et le confort de lecture de tous, mais seront alors associés à la mention "profil supprimé".</p>
                <h3>VIII- DROIT D’UTILISATION SUR LES CONTRIBUTIONS </h3>
                <p>Les contributions des Contributeurs ont vocation à intégrer la base de données dont La Fondation OVE est producteur. Il est entendu que La Fondation OVE sera libre de les réutiliser.</p>
                <p>En tant que de besoin, le Contributeur cède gracieusement à titre non exclusif à La Fondation OVE, au fur et à mesure de la transmission de chaque contribution, le droit de reproduire, sur tout support imprimé ou non, de représenter, traduire, utiliser, exploiter ladite contribution, seule ou associée à toute autre donnée, pour toute publication tels que des rapports, notes ou articles, et de la diffuser par tous moyens, notamment tous moyens écrits ou par le réseau internet, notamment sur le site HANDISSIMO et les réseaux sociaux, directement ou par l’intermédiaire d’un tiers, pour le monde entier et la durée des droits d’auteur. Il autorise La Fondation OVE à concéder des licences. Il a conscience que l’utilisation par La Fondation OVE de sa contribution puisse nécessiter une certaine adaptation ainsi que la correction d’anomalies ou d’erreurs, ce qu’il autorise expressément. Ce droit comprend notamment le droit de modifier, raccourcir et/ou compléter les contributions. Il autorise par ailleurs que ladite utilisation soit effectuée sans mention de son nom.</p>
                <p>Le Contributeur garantit La Fondation OVE qu’il détient la totalité des droits et autorisations nécessaires, pour apporter, mettre à disposition et céder à La Fondation OVE ses droits sur les contributions.</p>
                <h3>IX- CONTACT MODERATEUR</h3>
                <p>Toute personne peut contacter le modérateur par mail à l’adresse suivante : <a class="link-about" href="&#109;&#97;&#73;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#68;&#101;&#109;&#97;&#110;&#100;&#101;&#37;&#50;&#48;&#100;&#101;&#37;&#50;&#48;&#109;&#111;&#100;&#101;&#114;&#97;&#116;&#105;&#111;&#110;">contact@handissimo.fr</a>.</p>
                <h3>X- LIENS HYPERTEXTES</h3>
                <h4>IX.1- A PARTIR DE <a class="link-about" target="_blank" href="https://www.handissimo.fr">www.handissimo.fr</a></h4>
                <p>La Fondation OVE ne vérifie ni ne sélectionne les contenus et les sites qui peuvent être liés au site <a class="link-about" href="https://www.handissimo.fr" target="_blank">www.handissimo.fr</a> et n’est en aucun cas responsable du contenu des sites vers lesquels des liens sont faits. Leur présence ne signifie en aucune manière que La Fondation OVE adhère ou valide leur contenu ou accepte une responsabilité quelconque pour le contenu ou l'utilisation de ces sites tiers. Les liens sont proposés à titre strictement indicatif ou par les Utilisateurs Inscrits sous leur seule responsabilité sans aucune démarche de sélection, de qualification ou de certification des sites concernés.</p>
                <h4>IX.2- VERS <a class="link-about" target="_blank" href="https://www.handissimo.fr">www.handissimo.fr</a></h4>
                <p>Toute mise en œuvre d’un lien vers <a class="link-about" target="_blank" href="https://www.handissimo.fr">www.handissimo.fr</a> requiert l’autorisation expresse et préalable de La Fondation OVE qui peut être sollicitée en s’adressant à cette adresse électronique : <a class="link-about" href="&#109;&#97;&#105;&#76;&#84;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#77;&#105;&#115;&#101;&#37;&#50;&#48;&#101;&#110;&#37;&#50;&#48;&#108;&#105;&#101;&#110;&#37;&#50;&#48;&#100;&#117;&#37;&#50;&#48;&#115;&#105;&#116;&#101;&#37;&#50;&#48;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;">contact@handissimo.fr</a>.</p>
                <h3>XI- PROTECTION DES DONNEES PERSONNELLES</h3>
                <p>Lors de l'utilisation du site Handissimo par les utilisateurs, des données sont susceptibles d'être collectées et traitées. Le responsable de la collecte des données est La Fondation OVE, Fondation gestionnaire d'établissements sociaux et médico-sociaux dont le siège se situe au 19, rue Marius Grosso - 69120 Vaulx-en-Velin.<br/>
                    La base de données constituée est strictement confidentielle. Le responsable de traitement s'engage à prendre toutes les mesures nécessaires pour garantir la sécurité, la confidentialité et l’intégrité des données collectées.</p>
                <p class="light-title">Quelles sont les données collectées ?</p>
                <ul>
                    <li>Données du compte de l'utilisateur qu’il renseigne lors de la création d'un compte en remplissant le formulaire d'inscription (pseudonyme, mot de passe, mail).</li>
                    <li>Données rendues publiques par l'utilisateur, c’est-à-dire l'ensemble des informations que qu’il affiche volontairement sur le site telles que notamment les commentaires. </li>
                    <li>Données relatives à la navigation, c’est-à-dire les données que l'éditeur collecte lors de la navigation de l'utilisateur sur le site telles que notamment la date, l'heure de la connexion et/ou navigation, le type de navigateur, son adresse IP, les requêtes.</li>
                </ul>
                <p class="light-title">Pourquoi collectons nous les données ?</p>
                <p>Les données recueillies dans le cadre de l'utilisation du site font l'objet d'un traitement dans le but de répondre notamment aux finalités suivantes :</p>
                <ul>
                    <li>La gestion des accès à certains services ainsi que leur utilisation ;</li>
                    <li>La constitution de fichiers de membres inscrits aux services ;</li>
                    <li>L'envoi de newsletters et sollicitations à la condition que l'utilisateur coche la case exprimant son acceptation, prévue à cet effet, lors de son inscription aux services ;</li>
                    <li>L'élaboration de statistiques et de mesures de fréquentation des services ;</li>
                    <li>La gestion des avis et des sondages des utilisateurs sur des services ou contenus du site.</li>
                </ul>
                <p>Les données des utilisateurs ne seront pas conservées au-delà de la durée strictement nécessaire aux finalités poursuivies telles qu'énoncées et ce conformément à la Loi. Les données de l'utilisateur sont effacées lorsque les durées de conservation expirent.</p>
                <p>Conformément à la loi "Informatique et Libertés" du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification aux informations qui vous concernent.<br/>
                    Vous pouvez exercer ce droit en vous adressant à : <a href="&#77;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#105;&#108;&#64;&#102;&#111;&#110;&#100;&#97;&#116;&#105;&#111;&#110;&#45;&#111;&#118;&#101;&#46;&#102;&#114;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#68;&#114;&#111;&#105;&#116;&#37;&#50;&#48;&#100;&#37;&#50;&#55;&#97;&#99;&#99;&#101;&#115;&#37;&#50;&#48;&#101;&#116;&#37;&#50;&#48;&#100;&#101;&#37;&#50;&#48;&#109;&#111;&#100;&#105;&#102;&#105;&#99;&#97;&#116;&#105;&#111;&#110;&#37;&#50;&#48;&#100;&#101;&#115;&#37;&#50;&#48;&#100;&#111;&#110;&#110;&#37;&#69;&#57;&#101;&#115;&#37;&#50;&#48;&#100;&#117;&#37;&#50;&#48;&#115;&#105;&#116;&#101;&#37;&#50;&#48;&#104;&#97;&#110;&#100;&#105;&#115;&#115;&#105;&#109;&#111;&#46;&#102;&#114;">cil@fondation-ove.fr</a>.<br/>
                    Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>
                <p>Pour en savoir plus, <a class="link-about" href="https://www.cnil.fr/" target="_blank">consultez vos droits sur le site de la CNIL.</a></p>
                <h3>XII- L´UTILISATION DES COOKIES</h3>
                <p>Pour permettre aux utilisateurs de Handissimo de bénéficier des services proposés par le site, le site utilise des cookies.<br>
                    Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous pouvez à tout moment désactiver ces cookies et ce gratuitement à partir des possibilités de désactivation qui vous sont offertes et rappelées ci-après, sachant que cela peut réduire ou empêcher l’accessibilité à tout ou partie des Services proposés par le site.</p>
                <p class="light-title">Qu’est-ce qu’un cookie et son utilité ?</p>
                <p>Lors de la consultation du site, des informations relatives à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.) sur le site peuvent être enregistrées dans des fichiers texte appelés "Cookies", installés sur votre navigateur. Les cookies vont être utilisés pour reconnaître votre navigateur pendant la durée de validité du cookie concerné.<br>
                    Seul l'émetteur du cookie concerné est susceptible de lire ou de modifier les informations qui y sont contenues. Certains cookies sont indispensables à l´utilisation du site, d´autres permettent d´optimiser l’utilisation du site et de personnaliser les contenus affichés.</p>
                <p>Ainsi les cookies permettent :</p>
                <ul>
                    <li>De mesurer et d’analyser la fréquentation et d'utilisation du site, de ses rubriques et services proposés, nous permettant de réaliser des études et d'améliorer l'intérêt et l'ergonomie du site et de nos services,</li>
                    <li>De mémoriser les préférences d'affichage de votre navigateur (langue utilisée, paramètres d'affichage, système d’exploitation utilisé, etc) et d’adapter la présentation du site lors de vos visites, selon les matériels et logiciels de visualisation ou de lecture que comporte votre terminal et qui sont utilisés pour la navigation sur notre site.</li>
                    <li>De mémoriser les informations relatives, par exemple, à un formulaire que vous avez rempli ou à un service (inscription, accès à votre compte) ou une information que vous avez choisie (services souscrits, contenu de votre panier).</li>
                    <li>De vous permettre d'accéder à des espaces réservés et personnels du site ou de nos Services, tels que votre compte personnel, grâce à des identifiants ou des données personnelles vous concernant antérieurement communiquées, vous permettant le cas échéant d’accéder à des contenus personnalisés,</li>
                    <li>De mettre en œuvre des mesures de sécurité.</li>
                </ul>
                <p class="light-title">Votre gestion et utilisation des cookies</p>
                <p>Vous pouvez gérer et modifier à tout moment l’utilisation des cookies.<br>
                    Les paramétrages que vous effectuerez sont susceptibles de modifier votre navigation sur internet et vos conditions d’accès et d’utilisation de certains services de notre site qui nécessitent l’utilisation de cookies.<br>
                    Vous pouvez configurer votre logiciel de navigation de manière à ce que des Cookies soient enregistrés dans votre terminal ou qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur.</p>
                <p>Pour connaître les modalités applicables à la gestion des cookies stockés dans votre navigateur, nous vous invitons à consulter le menu d'aide de votre navigateur ainsi que la rubrique « Vos traces » du site de la CNIL (Commission Nationale de l’Informatique & des Libertés) (<a class="link-about" href="http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/" target="_blank">//www.cnil.fr/vos-libertes/vos-traces/les-cookies/</a>).</p>
                <h3>XIII- CONSERVATIONS DES DONNEES D'IDENTIFICATION DES UTILISATEURS INSCRITS</h3>
                <p>La Fondation se conforme aux dispositions de la Loi pour la Confiance dans l’Economie Numérique et à ce titre conserve les données permettant l’identification des Utilisateurs Inscrits pendant toute la durée légale, et pourra les communiquer sur réquisitions judiciaires.</p>
                <h3>XIV- PROPRIETE INTELLECTUELLE</h3>
                <p>La Fondation OVE est titulaire exclusif des droits de propriété intellectuelle relatifs à la structure et au contenu du site HANDISSIMO, exception faite des contributions des Contributeurs pour lesquelles elle est cessionnaire à titre non exclusif.</p>
                <p>La Fondation OVE concède à l’Utilisateur un droit d’accès et d’utilisation à titre gratuit, non-exclusif, incessible, personnel et limité à l’accès et à l’utilisation personnelle d’HANDISSIMO et de son contenu. Ce droit est concédé pour un usage exclusivement personnel et non commercial. Tout autre usage est strictement interdit.</p>
                <p>Toute autre utilisation ou toute reproduction ou représentation intégrale ou partielle faite sans le consentement de La Fondation OVE, ainsi que toute traduction, adaptation ou arrangement d’HANDISSIMO ou d'éléments de son contenu, par quelque moyen que ce soit et sur quelque support que ce soit, constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle.</p>
                <p>La fondation OVE est producteur de la base de données contenue dans le site HANDISSIMO. De ce fait, il est interdit d'extraire, réutiliser, stocker, reproduire, représenter ou conserver, directement ou indirectement, sur un support quelconque, par tout moyen et sous toute forme que ce soit, tout ou partie qualitativement ou quantitativement substantielle, du contenu des bases de données figurant sur HANDISSIMO, ainsi que d'extraire ou de réutiliser de façon répétée et systématique des parties qualitativement et quantitativement non substantielles lorsque ces opérations excèdent manifestement les conditions d'utilisation normale.</p>
                <p>De même, toute utilisation ou reproduction des marque et logo de La Fondation OVE, de la marque HANDISSIMO ou du terme HANDISSIMO est interdite.</p>
                <h3>XV- RESPONSABILITE</h3>
                <p>La Fondation OVE ne garantit en aucun cas la conformité et l’adéquation de <a class="link-about" href="https://www.handissimo.fr" target="_blank">www.handissimo.fr</a> et des services et informations qui y sont diffusées aux besoins des Utilisateurs.</p>
                <p>Toute utilisation des informations délivrées sur HANDISSIMO s’effectue aux risques et périls de l’Utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que la responsabilité de La Fondation OVE ne puisse être recherchée, et sans recours contre cette dernière. La Fondation OVE ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur HANDISSIMO.</p>
                <h3>XVI- CESSION DES PRESENTES CONDITIONS GENERALES D'UTILISATIONS</h3>
                <p>La Fondation OVE peut céder, sous-traiter ou transférer ses droits ou obligations au titre des présentes Conditions Générales d’Utilisation, en tout ou partie, à tout tiers, sans accord préalable et écrit de l’Utilisateur, quelle que soit l’opération et le caractère gracieux ou onéreux de cette dernière.</p>
                <p>L'Utilisateur ne peut céder tout ou partie des droits et obligations résultant des présentes à un tiers, ni conférer de licence, sans avoir obtenu l’autorisation préalable et expresse de La Fondation OVE.</p>
                <h3>XVII- LOI APPLICABLE</h3>
                <p>Les présentes Conditions Générales d’Utilisation sont régies par le droit français.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-button handissimo-button" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>