<a role="button" data-toggle="modal" data-backdrop="false" data-target="#myModal-homepage" class="link-about">Charte d'utilisation</a>

<!-- Modal -->
<div class="modal fade" id="myModal-homepage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Charte d’utilisation du site Handissimo</h4>
            </div>
            <div class="modal-body" id="modal-charte-homepage">
                <h3>Préambule</h3>
                <p>La présente charte définit les modalités d’utilisation et de navigation du site
                    Handissimo. Elle a notamment pour objet de rappeler à chaque usager du site ses devoirs et obligations.
                </p>
                <p>Handissimo est le premier guide communautaire en ligne des solutions d’aide pour tous les handicaps.
                    Le site référence toutes les solutions d’aide dans le champ du handicap et offre une information simple,
                    compréhensible et mise à jour régulièrement. Il permet donc de faire des recherches de solutions grâce à un moteur de recherche.
                    Le site permet également de favoriser l’entre-aide. En effet, chaque utilisateur ayant un compte peut commenter les fiches solutions et échanger avec d’autres utilisateurs.
                </p>

                <h3>I. Accès et inscription</h3>
                <p>L'inscription à Handissimo est libre et gratuite.
                    Vous pouvez vous inscrire en indiquant votre nom ou en choisissant un pseudonyme
                    (si vous préférez être identifié ainsi vis-à-vis des autres participants) et un mot de passe. Il vous sera aussi demandé de saisir une adresse de courrier électronique.
                </p>
                <p>Cette inscription permet :</p>
                <ul>
                    <li>de contribuer au site en postant des commentaires et en échangeant avec d’autres utilisateurs.</li>
                    <li>aux autres participants de reconnaître vos diverses contributions.</li>
                    <li>de retrouver facilement les fiches auxquelles vous avez participées.</li>
                </ul>
                <p>Afin de préserver et d’assurer aux membres de l’association la sécurité de la plateforme, chaque usager s’engage à :</p>
                <ul>
                    <li>ne pas fournir de fausses informations personnelles</li>
                    <li>réserver son compte à son propre usage</li>
                    <li>ne pas utiliser son compte à des fins commerciales</li>
                    <li>ne pas communiquer son mot de passe ainsi qu’à ne laisser personne accéder à son compte ou ne faire quoique ce soit qui puisse compromettre la sécurité de son compte.</li>
                </ul>

                <h3>II. Droits et devoirs du contributeur</h3>

                <p>Tout contributeur demeure propriétaire de son message.<br>
                    Bien que les administrateurs et les modérateurs d'Handissimo essaient d'écarter tous commentaires répréhensibles,
                    il leur est impossible de contrôler tous les commentaires. Ceux-ci expriment uniquement les opinions de leurs auteurs.
                    Les propriétaires d'Handissimo n'entendent donner ni approbation, ni improbation des propos émis sur Handissimo. 
                    <br>
                    A ce titre, en tant que contributeur, il vous incombe de respecter les lois et règlements en vigueur et le droit des personnes.
                    Par exemple, vous ne devez pas diffuser sous peine de sanctions pénales de commentaires violents, injurieux, diffamatoires, racistes,
                    révisionnistes, faisant l’apologie des crimes, appelant au meurtre ou incitant au suicide, incitant à la discrimination ou à la haine,
                    faisait atteinte à la vie privée (citation nominative de tierces personnes sans leur accord explicite), dont le contenu reproduirait
                    sans autorisation une œuvre protégée par la propriété intellectuelle (tels que des articles de presse, message d’un tiers) ou  à vocation commerciale.
                    <br>
                    Veillez par ailleurs à respecter la courtoisie nécessaire au bon déroulement des échanges d'opinion. Handissimo se veut un lieu bienveillant et positif.
                </p>

                <h3>III. Modération</h3>

                <p>Pour qu'Handissimo soit plus vivant, nous avons choisi de le modérer à posteriori : c’est-à-dire que tous les commentaires sont publiés en l'état,
                    avant toute intervention éventuelle des modérateurs.
                    <br>
                    Vous autorisez les administrateurs et les modérateurs d'Handissimo à supprimer ou modifier, n'importe quel commentaire pour n'importe quelle raison
                    et sans autorisation préalable de votre part. En cas de manquement aux règles de cette charte, ceux-ci peuvent notamment être amenés à exclure temporairement
                    ou définitivement un utilisateur.
                    <br>
                    Seront sujet à modération les commentaires redondants ou de nature publicitaire, ainsi que les messages contraires à l’ordre public ou aux bonnes mœurs,
                    violents, racistes, révisionnistes, faisant l’apologie des crimes,  injurieux ou grossiers, contraires aux droits d’auteur ou droits voisins, au droit
                    applicable aux bases de données, au droit des marques, au droit à l’image, au droit au respect de la vie privée et au secret professionnel ou qui enfreindraient
                    toute autre disposition législative ou réglementaire en vigueur.
                    <br>
                    Tout commentaire publié demeure sous la responsabilité de son auteur.
                    Les lecteurs peuvent demander la vérification de tout commentaire litigieux posté en contactant les modérateurs à l’adresse suivante : <a href="mailto:c%6f&#110;t&#97;%63&#116;&#64;h%61%6e&#100;i%73%73&#105;&#109;%6f%2ef%72" class="link-about">contact&#64;handissimo.fr</a>
                </p>

                <h3>IV. Modification et suppression des messages</h3>

                <p>Une fois inscrit et identifié sur Handissimo, vous êtes libres de modifier et éditer vos commentaires à tout moment.
                    Vous pouvez demander la suppression de vos commentaires aux modérateurs à l'adresse : <a href="mailto:c%6f&#110;t&#97;%63&#116;&#64;h%61%6e&#100;i%73%73&#105;&#109;%6f%2ef%72" class="link-about">contact&#64;handissimo.fr</a>, en prenant
                    soin de nous indiquer les éléments suivants : titre et date de publication du message, pseudo utilisé et URL.
                    <br>
                    Vous pouvez également demander la suppression de votre compte.
                    Les messages associés à ce compte resteront cependant visibles, pour la clarté et le confort de lecture de tous, mais seront alors associés à la mention "profil supprimé".
                </p>

                <h3>V. Protection des données personnelles</h3>

                <p>Lors de l'utilisation du site Handissimo.com par les utilisateurs, des données sont susceptibles d'être collectées et traitées. Le responsable de la collecte des données
                    est la Fondation OVE, Fondation gestionnaire d'établissements sociaux et médico-sociaux dont le siège se situe au 19, rue Marius Grosso - 69120 Vaulx-en-Velin.
                    La base de données constituée est strictement confidentielle. Le responsable de traitement s'engage à prendre toutes les mesures nécessaires pour garantir la sécurité, la confidentialité et l’intégrité des données collectées.
                </p>
                <span class="bold">Quelles sont les données collectées ?</span>
                <ul>
                    <li>Données du compte de l'utilisateur qu’il renseigne lors de la création d'un compte en remplissant le formulaire d'inscription (pseudo, mot de passe, mail).</li>
                    <li>Données rendues publiques par l'utilisateur, c’est-à-dire l'ensemble des informations que qu’il affiche volontairement sur le site telles que notamment les commentaires sur les fiches et forums, les photos, discussions et profil de compte.</li>
                    <li>Données relatives à la navigation, c’est-à-dire les données que l'éditeur collecte lors de la navigation de l'utilisateur sur le site telles que notamment la date, l'heure de la connexion et/ou navigation, le type de navigateur, son adresse IP, les requêtes.</li>
                </ul>
                <p>Pourquoi collectons nous les données ?
                    Les données recueillies dans le cadre de l'utilisation du site font l'objet d'un traitement dans le but de répondre notamment aux finalités suivantes :</p>
                <ul>
                    <li>La gestion des accès à certains services ainsi que leur utilisation ;</li>
                    <li>La constitution de fichiers de membres inscrits aux services ;</li>
                    <li>L'envoi de newsletters et sollicitations à la condition que l'utilisateur coche la case exprimant son acceptation, prévue à cet effet, lors de son inscription aux services ;</li>
                    <li>L'élaboration de statistiques et de mesures de fréquentation des services ;</li>
                    <li>La gestion des avis et des sondages des utilisateurs sur des services ou contenus du site</li>
                </ul>
                <p>Les données des utilisateurs ne seront pas conservées au-delà de la durée strictement nécessaire
                    aux finalités poursuivies telles qu'énoncées et ce conformément à la Loi. Les données de
                    l'utilisateur sont effacées lorsque les durées de conservations expirent.
                    <br>
                    Conformément à la loi "Informatique et Libertés" du 6 janvier 1978, vous disposez d'un droit d'accès et de rectification aux informations qui vous concernent.
                    Vous pouvez exercer ce droit en vous adressant à : <a href="mailto:&#99;i%6c&#64;f%6f%6e%64a&#116;i%6fn%2d&#111;&#118;e%2e%66r" class="link-about">cil&#64;fondation-ove.fr</a> .
                    Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
                </p>
                <p>Pour en savoir plus, consultez vos droits sur le site de la <a href="https://www.cnil.fr/fr/comprendre-vos-droits" target="_blank" class="link-about">CNIL</a>.</p>

                <h3>VI. L´utilisation des cookies</h3>

                <p>Pour permettre aux utilisateurs de Handissimo de bénéficier des services proposés par le site,
                    le site utilise des cookies.
                    Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser.
                    Vous pouvez à tout moment désactiver ces cookies et ce gratuitement à partir des possibilités de
                    désactivation qui vous sont offertes et rappelées ci-après, sachant que cela peut réduire ou empêcher
                    l’accessibilité à tout ou partie des Services proposés par le site.
                </p>

                <span class="bold">Qu’est-ce qu’un cookie et son utilité ?</span>
                <p>Lors de la consultation du site, des informations relatives à la navigation de votre terminal
                    (ordinateur, tablette, smartphone, etc.) sur le site peuvent être enregistrées dans des fichiers
                    texte appelés "Cookies", installés sur votre navigateur. Les cookies vont être utilisés pour
                    reconnaître votre navigateur pendant la durée de validité du cookie concerné.
                    Seul l'émetteur du cookie concerné est susceptible de lire ou de modifier les informations qui y
                    sont contenues. Certains cookies sont indispensables à l´utilisation du site, d´autres permettent
                    d´optimiser l’utilisation du site et de personnaliser les contenus affichés.
                    <br>
                    Ainsi les cookies permettent :
                </p>
                <ul>
                    <li>De mesurer et d’analyser la fréquentation et d'utilisation du site, de ses rubriques et
                        services proposés, nous permettant de réaliser des études et d'améliorer l'intérêt et
                        l'ergonomie du site et de nos services.
                    </li>
                    <li>De mémoriser les préférences d'affichage de votre navigateur (langue utilisée, paramètres
                        d'affichage, système d’exploitation utilisé, etc) et d’adapter la présentation du site lors
                        de vos visites, selon les matériels et logiciels de visualisation ou de lecture que comporte
                        votre terminal et qui sont utilisés pour la navigation sur notre site.
                    </li>
                    <li>De mémoriser les informations relatives, par exemple, à un formulaire que vous avez rempli
                        ou à un service (inscription, accès à votre compte) ou une information que vous avez choisie
                        (services souscrits, contenu de votre panier).
                    </li>
                    <li>De vous permettre d'accéder à des espaces réservés et personnels du site ou de nos Services,
                        tels que votre compte personnel, grâce à des identifiants ou des données personnelles vous
                        concernant antérieurement communiquées, vous permettant le cas échéant d’accéder à des contenus personnalisés.
                    </li>
                    <li>De mettre en œuvre des mesures de sécurité.</li>
                </ul>

                <span class="bold">Votre gestion et utilisation des cookies</span>
                <p>Vous pouvez gérer et modifier à tout moment l’utilisation des cookies. Les paramétrages que vous
                    effectuerez sont susceptibles de modifier votre navigation sur internet et vos conditions d’accès
                    et d’utilisation de certains services de notre site qui nécessitent l’utilisation de cookies.
                    Vous pouvez configurer votre logiciel de navigation de manière à ce que des Cookies soient enregistrés
                    dans votre terminal ou qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur.
                </p>
                <p>Pour connaître les modalités applicables à la gestion des cookies stockés dans votre navigateur,
                    nous vous invitons à consulter le menu d'aide de votre navigateur ainsi que la rubrique « Vos traces »
                    du site de la CNIL (Commission Nationale de l’Informatique & des Libertés)
                    (<a href="http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/" class="link-about" target="_blank">http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/)</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-button" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>