{% block charte %}
    <h2>Charte d’utilisation du site Handissimo</h2>

    <h3>Préambule</h3>

    <p>La présente charte définit les modalités d’utilisation et de navigation du site
        Handissimo. Elle a notamment pour objet de rappeler à chaque usager du site ses devoirs et obligations.
    </p>

    <p>Handissimo est le premier guide communautaire en ligne des solutions d’aide pour tous les handicaps.
        Le site référence toutes les solutions d’aide dans le champ du handicap et offre une information simple,
        compréhensible et mise à jour régulièrement. Il permet donc de faire des recherches de solutions grâce à un moteur de recherche.
        Le site permet également de favoriser l’entre-aide. En effet, chaque utilisateur ayant un compte peut commenter les fiches solutions et échanger avec d’autres utilisateurs.
    </p>

    <h3>I. Accès et inscription</h3>

    <p>L'inscription à Handissimo est libre et gratuite.
        Vous pouvez vous inscrire en indiquant votre nom ou en choisissant un pseudonyme
        (si vous préférez être identifié ainsi vis-à-vis des autres participants) et un mot de passe. Il vous sera aussi demandé de saisir une adresse de courrier électronique.
    </p>

    <p>Cette inscription permet :</p>
        <ul>
            <li>de contribuer au site en postant des commentaires et en échangeant avec d’autres utilisateurs.</li>
            <li>aux autres participants de reconnaître vos diverses contributions.</li>
            <li>de retrouver facilement les fiches auxquelles vous avez participées.</li>
        </ul>


    <p>Afin de préserver et d’assurer aux membres de l’association la sécurité de la plateforme, chaque usager s’engage à :</p>
        <ul>
            <li>ne pas fournir de fausses informations personnelles</li>
            <li>réserver son compte à son propre usage</li>
            <li>ne pas utiliser son compte à des fins commerciales</li>
            <li>ne pas communiquer son mot de passe ainsi qu’à ne laisser personne accéder à son compte ou ne faire quoique ce soit qui puisse compromettre la sécurité de son compte.</li>
        </ul>

    <h3>II. Droits et devoirs du contributeur</h3>

    <p>Tout contributeur demeure propriétaire de son message.<br>
    Bien que les administrateurs et les modérateurs d'Handissimo essaient d'écarter tous commentaires répréhensibles,
    il leur est impossible de contrôler tous les commentaires. Ceux-ci expriment uniquement les opinions de leurs auteurs.
    Les propriétaires d'Handissimo n'entendent donner ni approbation, ni improbation des propos émis sur Handissimo. 
    <br>
    A ce titre, en tant que contributeur, il vous incombe de respecter les lois et règlements en vigueur et le droit des personnes.
    Par exemple, vous ne devez pas diffuser sous peine de sanctions pénales de commentaires violents, injurieux, diffamatoires, racistes,
    révisionnistes, faisant l’apologie des crimes, appelant au meurtre ou incitant au suicide, incitant à la discrimination ou à la haine,
    faisait atteinte à la vie privée (citation nominative de tierces personnes sans leur accord explicite), dont le contenu reproduirait
    sans autorisation une œuvre protégée par la propriété intellectuelle (tels que des articles de presse, message d’un tiers) ou  à vocation commerciale.
    <br>
    Veillez par ailleurs à respecter la courtoisie nécessaire au bon déroulement des échanges d'opinion. Handissimo se veut un lieu bienveillant et positif.
    </p>

    <h3>III. Modération</h3>

    <p>Pour qu'Handissimo soit plus vivant, nous avons choisi de le modérer à posteriori : c’est-à-dire que tous les commentaires sont publiés en l'état,
    avant toute intervention éventuelle des modérateurs.
    <br>
    Vous autorisez les administrateurs et les modérateurs d'Handissimo à supprimer ou modifier, n'importe quel commentaire pour n'importe quelle raison
    et sans autorisation préalable de votre part. En cas de manquement aux règles de cette charte, ceux-ci peuvent notamment être amenés à exclure temporairement
    ou définitivement un utilisateur.
    <br>
    Seront sujet à modération les commentaires redondants ou de nature publicitaire, ainsi que les messages contraires à l’ordre public ou aux bonnes mœurs,
    violents, racistes, révisionnistes, faisant l’apologie des crimes,  injurieux ou grossiers, contraires aux droits d’auteur ou droits voisins, au droit
    applicable aux bases de données, au droit des marques, au droit à l’image, au droit au respect de la vie privée et au secret professionnel ou qui enfreindraient
    toute autre disposition législative ou réglementaire en vigueur.
    <br>
    Tout commentaire publié demeure sous la responsabilité de son auteur.
    Les lecteurs peuvent demander la vérification de tout commentaire litigieux posté en contactant les modérateurs à l’adresse suivante : contact@handissimo.com
    </p>

    <h3>IV. Modification et suppression des messages</h3>

    <p>Une fois inscrit et identifié sur Handissimo, vous êtes libres de modifier et éditer vos commentaires à tout moment.
    Vous pouvez demander la suppression de vos commentaires aux modérateurs à l'adresse : contact@handissimo.com, en prenant
    soin de nous indiquer les éléments suivants : titre et date de publication du message, pseudo utilisé et URL.
    <br>
    Vous pouvez également demander la suppression de votre compte.
    Les messages associés à ce compte resteront cependant visibles, pour la clarté et le confort de lecture de tous, mais seront alors associés à la mention "profil supprimé".
    </p>

    <h3>V. Protection des données personnelles</h3>

    <p>Lors de l'utilisation du site Handissimo.com par les utilisateurs, des données sont susceptibles d'être collectées et traitées. Le responsable de la collecte des données
    est la Fondation OVE, Fondation gestionnaire d'établissements sociaux et médico-sociaux dont le siège se situe au 19, rue Marius Grosso - 69120 Vaulx-en-Velin.
    La base de données constituée est strictement confidentielle. Le responsable de traitement s'engage à prendre toutes les mesures nécessaires pour garantir la sécurité, la confidentialité et l’intégrité des données collectées.

    </p>
{% endblock %}