"<div class="form-group">
    <label class="control-label">__name__label__</label>
    <div id="handissimobundle_organizations_media___name__">
        <div class="form-group">
            <label class="control-label" for="handissimobundle_organizations_media___name___file">Ajouter une image</label>
            <input type="file" id="handissimobundle_organizations_media___name___file" name="handissimobundle_organizations[media][__name__][file]" />
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input ...obundle_organizations_media___name___caroussel" name="handissimobundle_organizations[media][__name__][caroussel]" value="1" />
                    Ajouter au caroussel:
                </label>
            </div>
        </div>
        <div class="form-group"><div class="checkbox">
                <label>
                    <input type="checkbox" id="handissimobundle_organizations_media___name___firstPicture" name="handissimobundle_organizations[media][__name__][firstPicture]" value="1" />
                    Définir comme image de présentation:
                </label>
            </div>
        </div>
    </div>
</div>