<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <a href="{{ path('research_action') }}">
                <img alt="Handissimo vous simplifie le handicap" src="{{ asset('images/handissimo-logo.png') }}" class="logo-handissimo-footer">
            </a>
        </div>

        <div class="col-xs-12 col-md-3" id="footer-menu">
            <ul>
                <li><a href="{{ path('handissimo_aboutpage') }}">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Accédez à votre compte</a></li>
                <li><a href="">Mentions légales</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-4" id="rights">
            <p>Handissimo © 2017 | Tous droits réservés.<br>
            Développé par les étudiants de la <a href="http://www.wildcodeschool.fr/">Wild Code School</a></p>
        </div>

        <div class="col-xs-12 col-md-2" id="social-icons-footer">
            <a id="fb-icon" href="https://www.facebook.com/Handissimo-934218853377525/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/Handissimo_2017" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>