{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}

    <section class="container-fluid" id="main-index">
        <div class="container">
            <h1>Handissimo vous facilite le handicap !</h1>
            <div class="col-md-10 col-md-offset-1">
                <h2>Trouvez rapidement la solution adaptée - Partagez votre avis et échangez avec la communauté.</h2>
            </div>
        </div>

        <div class="container">
            <button class="btn orange-btn" id="search-btn">
                <a href="">Trouvez votre solution</a>
            </button>
        </div>
    </section>

{% endblock %}