{% extends '::base.html.twig' %}

{% block title %}Mentions Légales - Handissimo{% endblock %}
{% block body %}
    <div class="head-block-orange"></div>
    <div class="container main-block">
        <h1 class="title main-title">Mentions légales</h1>
        <div class="text-content description">
            <p><span class="bold">Editeur</span> :<br>
            Ce site est édité par la fondation OVE.<br>
            Fondation gestionnaire d'établissements sociaux et médico-sociaux<br>
            <span class="underline">Adresse</span> :<br>
            <span class="italic">Fondation OVE<br>
            19, rue Marius Grosso<br>
            69120 Vaulx-en-Velin<br></span></p>

            <p><span class="bold">Directeur de publication</span> : Ségolène Frandon, <a class="link-about" href="mailto:&#115;&#101;%67ole&#110;&#101;&#45;&#102;%72&#97;%6edo&#110;&#64;%66%6fn&#100;&#97;&#116;&#105;%6f%6e&#45;%6fv%65%2e%66&#114;">segolene-frandon&#64;fondation-ove.fr</a></p>

            <p><span class="bold">Webmaster</span> : <a class="link-about" href="mailto:&#119;%65&#98;ma%73&#116;e&#114;&#64;%66o&#110;&#100;%61t%69o%6e-&#111;&#118;%65%2ef&#114;">webmaster&#64;fondation-ove.fr</a></p>

            <p><span class="bold">Hébergeur</span> :<br>
            Ce site est hebergé par la société Ressourcial<br>
            <span class="underline">Adresse</span> : <br>
                <span class="italic">Ressourcial<br>
                19, rue Marius Grosso<br>
                69120 Vaulx-en-Velin<br></span>
            <span class="underline">Contact</span> : <a class="link-about" href="mailto:&#115;u&#112;&#112;o%72%74&#64;res%73ou%72%63i%61&#108;%2e&#102;r">support&#64;ressourcial.fr</a></p>

            <p><span class="bold">Conception du site et réalisation</span> :</p>
                <ul>
                    <li>Conception graphique : Pixies agency</li>
                    <li>Conception technique : Wild Code School</li>
                </ul>

            <p><span class="bold">Informations sur les cookies</span></p>
                <ol>
                    <li>
                        <h5 class="title-notice"><span class="underline">L´utilisation des cookies</span></h5>
                        <p>Pour permettre aux utilisateurs de Handissimo de bénéficier des services proposés par le site,
                            le site utilise des Cookies.
                            Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser.
                            Vous pouvez à tout moment désactiver ces cookies et ce gratuitement à partir des possibilités
                            de désactivation qui vous sont offertes et rappelées ci-après, sachant que cela peut réduire
                            ou empêcher l’accessibilité à tout ou partie des Services proposés par le site.
                        </p>
                    </li>
                    <li>
                        <h5 class="title-notice"><span class="underline">Qu’est-ce qu’un cookie et son utilité ?</span></h5>
                        <p>Lors de la consultation du site, des informations relatives à la navigation de votre terminal
                            (ordinateur, tablette, smartphone, etc.) sur le site peuvent être enregistrées dans des fichiers
                            texte appelés "Cookies", installés sur votre navigateur. Les cookies vont être utilisés pour
                            reconnaître votre navigateur pendant la durée de validité du cookie concerné.
                            Seul l'émetteur du cookie concerné est susceptible de lire ou de modifier les informations
                            qui y sont contenues. Certains cookies sont indispensables à l´utilisation du site, d´autres
                            permettent d´optimiser l’utilisation du site et de personnaliser les contenus affichés.
                        </p>
                        <p>Ainsi les cookies permettent :</p>
                        <ul>
                            <li>De mesurer et d’analyser la fréquentation et d'utilisation du site, de ses rubriques et
                                services proposés, nous permettant de réaliser des études et d'améliorer l'intérêt et
                                l'ergonomie du site et de nos services.
                            </li>
                            <li>De mémoriser les préférences d'affichage de votre navigateur (langue utilisée, paramètres
                                d'affichage, système d’exploitation utilisé, etc) et d’adapter la présentation du site
                                lors de vos visites, selon les matériels et logiciels de visualisation ou de lecture que
                                comporte votre terminal et qui sont utilisés pour la navigation sur notre site.
                            </li>
                            <li>De mémoriser les informations relatives, par exemple, à un formulaire que vous avez rempli
                                ou à un service (inscription, accès à votre compte) ou une information que vous avez choisie
                                (services souscrits, contenu de votre panier).
                            </li>
                            <li>De vous permettre d'accéder à des espaces réservés et personnels du site ou de nos Services,
                                tels que votre compte personnel, grâce à des identifiants ou des données personnelles vous
                                concernant antérieurement communiquées, vous permettant le cas échéant d’accéder à des contenus personnalisés,
                            </li>
                            <li>De mettre en œuvre des mesures de sécurité.</li>
                        </ul>
                    </li>
                    <li>
                        <h5 class="title-notice"><span class="underline">Votre gestion et utilisation des cookies</span></h5>
                        <p>Vous pouvez gérer et modifier à tout moment l’utilisation des cookies.
                            Les paramétrages que vous effectuerez sont susceptibles de modifier votre navigation sur internet
                            et vos conditions d’accès et d’utilisation de certains services de notre site qui nécessitent
                            l’utilisation de cookies.
                            Vous pouvez configurer votre logiciel de navigation de manière à ce que des Cookies soient
                            enregistrés dans votre terminal ou qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur.
                        </p>
                        <p>Pour connaître les modalités applicables à la gestion des cookies stockés dans votre navigateur,
                            nous vous invitons à consulter le menu d'aide de votre navigateur ainsi que la rubrique « Vos traces »
                            du site de la CNIL (Commission Nationale de l’Informatique & des Libertés) <a href="http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/" class="link-about">(http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/)</a>.
                        </p>
                    </li>
                </ol>
        </div>
    </div>
{% endblock %}