{% extends '::base.html.twig' %}

{% block title %}Mentions Légales - Handissimo{% endblock %}
{% block body %}
    <div class="head-block-orange"></div>
    <div class="container main-block">
        <h1 class="title main-title">Mentions légales</h1>
        <div class="text-content description">
            <p><span class="bold">Editeur</span> :<br>
            Ce site est édité par la fondation OVE.<br>
            Fondation gestionnaire d'établissements sociaux et médico-sociaux<br>
            <span class="underline">Adresse</span> :<br>
            <span class="italic">Fondation OVE<br>
            19, rue Marius Grosso<br>
            69120 Vaulx-en-Velin<br></span></p>

            <p><span class="bold">Directeur de publication</span> : Ségolène Frandon, <a class="link-about" href="mailto:&#115;&#101;%67ole&#110;&#101;&#45;&#102;%72&#97;%6edo&#110;&#64;%66%6fn&#100;&#97;&#116;&#105;%6f%6e&#45;%6fv%65%2e%66&#114;">segolene-frandon&#64;fondation-ove.fr</a></p>

            <p><span class="bold">Webmaster</span> : <a class="link-about" href="mailto:&#119;%65&#98;ma%73&#116;e&#114;&#64;%66o&#110;&#100;%61t%69o%6e-&#111;&#118;%65%2ef&#114;">webmaster&#64;fondation-ove.fr</a></p>

            <p><span class="bold">Hébergeur</span> :<br>
            Ce site est hebergé par la société Ressourcial<br>
            <span class="underline">Adresse</span> : <br>
                <span class="italic">Ressourcial<br>
                19, rue Marius Grosso<br>
                69120 Vaulx-en-Velin<br></span>
            <span class="underline">Contact</span> : <a class="link-about" href="mailto:&#115;u&#112;&#112;o%72%74&#64;res%73ou%72%63i%61&#108;%2e&#102;r">support&#64;ressourcial.fr</a></p>

            <p><span class="bold">Conception du site et réalisation</span> :</p>
                <ul>
                    <li>Conception graphique : Pixies agency</li>
                    <li>Conception technique : Wild Code School</li>
                </ul>
        </div>
    </div>
{% endblock %}