<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#giveOpinion">
    Donnez votre opinion !
</button>

<!-- Modal -->
<div class="modal fade" id="giveOpinion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Votre avis sur notre site.</h4>
            </div>
            <div class="modal-body">
                <p>Nous sommes heureux de vous compter parmi les utilisateurs de notre site. Quoi de mieux pour améliorer votre expérience que de vous demander ce que vous en pensez !</p>
                <p>Vous pouvez ici nous faire part de vos remarques concernant <strong>la navigation</strong> et <strong>la maniabilité</strong> du site Handissimo.</p>

                <div class="form_error"></div>
                <form method="POST" class="ajaxForm" action="{{path('opinion_create')}}" id="form_body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="modal-footer">
                            <input type="submit" value="Envoyer" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
</div><!-- Modal End -->