{% extends 'base.html.twig' %}
{% block body %}
    <p>Please search for a country and select the one you want on the returning list (type at least 2 characters).</p>
    <p>
        <input type="text" id="myTextField" />
    <div id="match"></div>
    </p>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ asset('js/autocompletesearch.js') }}"></script>
    <script>
        var loader = "{{ asset('images/loader.gif') }}"; //link to the animated loader-small.gif
        var ROOT_URL = "{{ url('search_autocomplete')}}"; //your root URL, used in autocomplete-countries.js file
    </script>
{% endblock %}