{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/organizations.css') }}">

{% endblock %}

{% block body %}
    <!-- nav bar-------------------------------------------->
    <nav class="navbar">
        <img class="logo" src="https://s29.postimg.org/sf1uzrrxj/Handissimo_logo.png" alt="">
        <div class="nav-btn-bloc">
            <ul>
                <li class="btn-nav about">Qui sommes-nous ?</li>
                <li class="btn-nav account">Mon compte</li>
            </ul>
        </div>
    </nav>
    <!--  bloc container --------------------------------------->
    <div class="head-img"></div>

   <div class="container">

        <div class="container-info col-md-12">
            <!-- Bloc entete / titre----------------------------->
            <div class="head-bloc">
                <!-- date de mise a jour-->
                <div class="row row1"><p class="update">Dernière mise à jour le 02/02/2017</p></div>
                <!-- titre/logo/favoris---------------------------------- -->
                <div class="row row2 title-head">
                    <h2 class="title col-md-4">OVE - MAS Robert Ramel</h2>
                    <div class="img-bloc col-md-1"><img class="organization-logo"  src="https://s27.postimg.org/ymj7zvrw3/Logo_OVEf_RVB_300x276.jpg" alt=""></div>
                    <div class="like">
                        <img class="like-img" src="https://s29.postimg.org/z1isf29t3/favorite_heart_outline_button_318_76798.jpg" alt="">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- caroussel----------------------------------------------------------->
            <div class="main-carousel">
                <div class="carousel">
                    <ul>
                        <li class="line-img"><img class="image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s28.postimg.org/xczbol3q5/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s28.postimg.org/xczbol3q5/image.jpg" alt=""></li>
                        <li class="line-img"><img class="image" src="https://s23.postimg.org/k5yj75xe3/image.jpg" alt=""></li>
                    </ul>
                </div>
            </div>

            <!-- bloc essentiel----------------------------------->
            <div class="essential-bloc col-md-8">
                <!-- block adresse---------------------->
                <div class="info-block">
                    <div class="address">
                        <div class="line"><div class="icon-bloc"><i class="fa fa-home" aria-hidden="true"></i></div><p class="address-line">8 Rue des bois</p></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-phone" aria-hidden="true"></i></div><p class="address-line">+ (33) 6 45 75 84 52</p></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-user" aria-hidden="true"></i></div><p class="address-line">Mr Handissimo</p></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-envelope" aria-hidden="true"></i></div><p class="address-line">Mail</p></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-desktop" aria-hidden="true"></i></div><a class="address-line address-link" href="https://www.handissimo.com" target="_blank">www.handissimo.com</a></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-commenting" aria-hidden="true"></i></div><a class="address-line address-link" href="https://www.handissimo.com" target="_blank">Blog</a></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-facebook" aria-hidden="true"></i></div><a class="address-line address-link" href="https://www.facebook.com/" target="_blank">Facebook</a></div>
                        <div class="line"><div class="icon-bloc"><i class="fa fa-twitter" aria-hidden="true"></i></div><a class="address-line address-link" href="https://www.twitter.com" target="_blank">twitter</a></div>

                    </div>
                    <div class="description"> pour qui Haec amicitiae descendant ubi ubi difficiles Quamquam in facile amicitiae honorem qui reque verae qui suo honorem descendant quas quam amicitiae Ennius honoribus anteponat honorem in Quamquam in Quamquam invenias plerisque publica in quam amici difficillime difficillime reque in honorem amicitiae in graves difficiles inventu amici videntur recte Ennius honorem amici descendant plerisque difficillime quas istum Quamquam honorem calamitatum societates ubi honorem difficiles descendant enim difficillime verae Ad anteponat difficiles Ad non videntur iis honorem in enim reque honoribus omittam non qui enim calamitatum in societates plerisque honorem anteponat Ennius Quid quam publica amicitiae qui reperiuntur invenias facile Haec qui.

                    </div>
                    <div class="description"> on fais quoi Haec amicitiae descendant ubi ubi difficiles Quamquam in facile amicitiae honorem qui reque verae qui suo honorem descendant quas quam amicitiae Ennius honoribus anteponat honorem in Quamquam in Quamquam invenias plerisque publica in quam amici difficillime difficillime reque in honorem amicitiae in graves difficiles inventu amici videntur recte Ennius honorem amici descendant plerisque difficillime quas istum Quamquam honorem calamitatum societates ubi honorem difficiles descendant enim difficillime verae Ad anteponat difficiles Ad non videntur iis honorem in enim reque honoribus omittam non qui enim calamitatum in societates plerisque honorem anteponat Ennius Quid quam publica amicitiae qui reperiuntur invenias facile Haec qui.

                    </div>
                </div>
            </div>
            <!-- map --------------------------->
            <div class="map col-md-4 row1">
                map
            </div>
            <div class="ressources col-md-4">

                <!-- ------------------->
                <a class="download" href="http://www.creativejuiz.fr/images/main.jpg" download="CreativeJuiz_Background">
                    <div class="line download-line">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <p>Télécharger des documents</p>
                    </div>
                </a>
                <!-- ------------------->
                <a class="print" href="http://www.creativejuiz.fr/images/main.jpg" download="CreativeJuiz_Background">
                    <div class="line print-line">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        <p>Imprimer</p>
                    </div>
                </a>
            </div>


        </div>

   </div>

{% endblock %}
