<h3>Un message vous à été envoyé</h3>

<p>Bonjour, <br />
L'utilisateur "{{ user }}" à fait ça première participation sur la fiche {% for organization, contribution in contributions %}{{ organization }}{% endfor %}, veuillez vérifier son contenu<br>
</p>