{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}



{% block sonata_profile_content %}

    {{ form_errors(form) }}

    {% form_theme form _self %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h2>
        </div>
        <div class="panel-body">
            {% include "SonataUserBundle:Profile:edit_profile_content.html.twig" %}
        </div>
    </div>

    {% render url("sonata_user_profile_edit_authentication") %}
{% endblock %}
