{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block sonata_profile_content %}
    <div class="col-md-offset-4 col-xs-12" id="return-block">
        <a href="{{ path('sonata_user_profile_edit') }}">
            <button class="btn btn-primary" id="btn-return">
                Retournez au profil
            </button>
        </a>
    </div>
{% endblock %}