{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% block title %}{{ parent() }}mon compte{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile-19062017.css') }}">
{% endblock %}

{% block sonata_profile_content %}
    <p id="greeting-message">
        Bienvenue sur votre compte et merci de participer à Handissimo !
    </p>
{% endblock %}